/*============================== COMMON STYLES ==============================*/
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #22343d;
}

input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,
textarea {
  outline: none;
}

.container {
  max-width: 411px;
  padding: 0 25px;
  margin: 0 auto;
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 104px;
}

@media screen and (min-width: 1150px) {
  .container {
    max-width: 1150px;
    padding: 0 20px;
  }
}
/*============================== /COMMON STYLES ==============================*/

/*============================== HEADER STYLES ==============================*/
/*============================== MOBILE STYLES ==============================*/
.menu-list,
.header-login-btns {
  display: none;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.page-header {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.header-logo-icon {
  margin-right: 8px;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 1149px) {
  .header-logo {
    padding: 21px 0;
  }
}

.mobile-menu-btn {
  padding: 0;
  width: 28px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  transition: fill 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  fill: #02897a;
}
/*============================== /MOBILE STYLES ==============================*/

/*============================== DESKTOP STYLES ==============================*/
@media screen and (min-width: 1150px) {
  .mobile-menu-btn {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 237px;
  }

  .menu-list {
    display: flex;
    gap: 30px;
  }

  .menu-link {
    display: block;
    line-height: 1.75;
    padding-top: 26px;
    padding-bottom: 26px;
    transition: color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #02897a;
  }

  .current {
    font-weight: 600;
  }

  .header-login-btns {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .sign-btn {
    background-color: transparent;
    padding: 0;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 102px;
    height: 42px;
    font-weight: 600;
    text-align: center;
    color: #173a56;
    transition: color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
      background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .sign-btn:hover,
  .sign-btn:focus {
    background-color: #02897a;
    color: #ffffff;
  }

  .black-mode-btn {
    border: none;
    background-color: #ffffff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .black-mode-btn:hover,
  .black-mode-btn:focus {
    background-color: #02897a;
  }
}
/*============================== /DESKTOP STYLES ==============================*/
/*============================== /HEADER STYLES ==============================*/

/*============================== HERO STYLES ==============================*/
/*============================== MOBILE ==============================*/
.hero-section .container {
  padding-top: 30px;
  padding-bottom: 50px;
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.hero-title {
  max-width: 369px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  margin-bottom: 16px;
}

.hero-text {
  max-width: 326px;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn-list {
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
  align-items: baseline;
  max-width: 345px;
  margin-right: auto;
  margin-left: auto;
}

.get-started-btn {
  padding: 17px 25px;
  font-weight: 700;
  font-size: 16px;
  color: #02897a;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: #ffffff;
  transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
    color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.get-started-btn:hover,
.get-started-btn:focus {
  background-color: #02897a;
  color: #ffffff;
}

.watch-video-btn {
  border: 1px solid #bcd0e5;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: #ffffff;
  padding: 15px 6px;
  border-radius: 4px;
  transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
    color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.watch-video-btn:hover,
.watch-video-btn:focus {
  background-color: #02897a;
  color: #ffffff;
}

.watch-video-icon {
  fill: #02897a;
  transition: fill 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.watch-video-btn:hover .watch-video-icon,
.watch-video-btn:focus .watch-video-icon {
  fill: #ffffff;
}

.watch-video-icon {
  margin-right: 4px;
}
/*============================== /MOBILE ==============================*/

/*============================== DESKTOP ==============================*/
@media screen and (min-width: 1150px) {
  .hero-section {
    padding-top: 25px;
  }
  .hero-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-img {
    order: 2;
    width: 610px;
    height: 555px;
    margin: 0;
  }

  .hero-descr {
    order: 1;
  }

  .hero-title {
    font-size: 40px;
    text-align: left;
    line-height: 1.5;
    max-width: 410px;
  }

  .hero-text {
    text-align: left;
    max-width: 465px;
    margin: 0;
    margin-bottom: 45px;
  }

  .hero-btn-list {
    margin: 0;
  }
}
/*============================== /DESKTOP ==============================*/
/*============================== /HERO STYLES ==============================*/

/*============================== PRODUCT STYLES ==============================*/
/*============================== MOBILE ==============================*/
.product-main-title {
  margin-top: 16px;
  margin-bottom: 50px;
}

.product-list {
  max-width: 240px;
  margin: 0 auto 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.product-item::before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: block;
  margin: 0 auto 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.product-item:nth-child(1)::before {
  background-color: #02897a;
  background-image: url(../images/bg-icons/cursor.svg);
}

.product-item:nth-child(2)::before {
  background-color: #4d8dff;
  background-image: url(../images/bg-icons/design.svg);
}

.product-item:nth-child(3)::before {
  background-color: #740a76;
  background-image: url(../images/bg-icons/heart.svg);
}

.product-item:nth-child(4)::before {
  background-color: #f03e3d;
  background-image: url(../images/bg-icons/clock.svg);
}

.product-title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-bottom: 8px;
}

.product-text {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.product-btn {
  display: block;
  margin: 0 auto 38px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 16px 32px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: #ffffff;
  color: #02897a;
  transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
    color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.product-btn:hover,
.product-btn:focus {
  background-color: #02897a;
  color: #ffffff;
}
/*============================== /MOBILE ==============================*/

/*============================== DESKTOP ==============================*/
@media screen and (min-width: 1150px) {
  .product-main-title {
    max-width: 535px;
    margin-right: auto;
    margin-left: auto;
  }

  .product-list {
    flex-direction: row;
    max-width: 1110px;
    gap: 30px;
    margin-bottom: 50px;
  }

  .product-item::before {
    width: 54px;
    height: 54px;
    margin: 0 0 26px;
  }

  .product-item {
    width: calc((100% - 90px) / 4);
  }

  .product-title {
    text-align: left;
    margin-bottom: 13px;
  }

  .product-text {
    text-align: left;
  }
}
/*============================== /DESKTOP ==============================*/
/*============================== /PRODUCT STYLES ==============================*/

/*============================== BENEFITS STYLES ==============================*/
/*============================== MOBILE ==============================*/
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 334px;
  margin: 0 auto;
}

.benefits-img {
  margin: 0 auto 50px;
}

.benefits-title {
  font-weight: 600;
  font-size: 16px;
}

.benefits-big-title {
  font-weight: 700;
  font-size: 32px;
  display: block;
  margin: 8px 0 16px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 16px;
}

.management-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.management-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 12px;
}

.management-text {
  font-size: 16px;
  line-height: 1.63;
}

.support-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 352px;
}

.support-item::before {
  display: block;
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 14px;
  background-image: url(../images/bg-icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.support-item:nth-child(1)::before {
  background-color: #f90;
}

.support-item:nth-child(2)::before {
  background-color: #f03e3d;
}

.support-item:nth-child(3)::before {
  background-color: #4d8dff;
}

.support-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.support-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.support-text {
  max-width: 287px;
  font-size: 16px;
  line-height: 1.63;
}
/*============================== /MOBILE ==============================*/

/*============================== DESKTOP ==============================*/
@media screen and (min-width: 1150px) {
  .benefits-list {
    max-width: 1110px;
    margin: 0;
  }

  .benefits-item {
    display: flex;
    justify-content: space-between;
  }

  .benefits-img {
    width: 540px;
    height: 500px;
    margin: 0;
    order: 2;
  }

  .benefits-item-wrap {
    order: 1;
  }

  .benefits-text,
  .management-text {
    max-width: 486px;
  }

  .support-img {
    order: 1;
  }

  .support-wrap {
    order: 2;
  }

  .support-item::before {
  }
}
/*============================== /DESKTOP ==============================*/
/*============================== /BENEFITS STYLES ==============================*/

/*========================== PROCESS SECTION STYLES ===========================*/
/*============================== MOBILE ==============================*/
.process-main-title {
  margin-bottom: 8px;
}

.process-main-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  margin-bottom: 40px;
}

.process-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 348px;
  margin: 0 auto 32px;
}

.process-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.process-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  border-radius: 35px;
  width: 241px;
  height: 65px;
  padding: 15px 22px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}

.process-btn {
  font-weight: 700;
  font-size: 16px;
  color: #02897a;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
    color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.process-btn:hover,
.process-btn:focus {
  background-color: #02897a;
  color: #ffffff;
}
/*============================== /MOBILE ==============================*/

/*============================== DESKTOP ==============================*/
@media screen and (min-width: 1150px) {
  .process-main-title {
    margin-bottom: 25px;
  }

  .process-main-text {
    max-width: 542px;
    margin: 0 auto 40px;
  }

  .process-list {
    max-width: 916px;
    margin: 0 auto 50px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 25px;
  }

  .process-item {
    width: calc((100% - 100px) / 2);
    column-gap: 10px;
  }

  .process-item:nth-child(1) {
    order: 1;
  }

  .process-item:nth-child(2) {
    order: 3;
  }

  .process-item:nth-child(3) {
    order: 4;
  }

  .process-item:nth-child(4) {
    order: 2;
  }

  .process-img {
    width: 98px;
    height: 98px;
  }

  .process-text {
    width: 281px;
    height: 50px;
    padding: 16px 15px;
  }
}
/*============================== /DESKTOP ==============================*/
/*========================== /PROCESS SECTION STYLES ===========================*/

/*========================== STRATEGIES SECTION STYLES ===========================*/
/*============================== MOBILE ==============================*/
.strategies-main-title {
  font-size: 34px;
  margin-bottom: 8px;
}

.strategies-main-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  margin-bottom: 40px;
}

.strategies-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.strategies-img {
  border-radius: 8px 8px 0 0;
  margin-bottom: 20px;
}

.img-caption {
  font-size: 16px;
  line-height: 1.75;
}

.img-caption-bold {
  font-weight: 700;
  margin-bottom: 12px;
}

.strategies-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  max-width: 294px;
}

.green-title {
  color: #02897a;
}
/*============================== /MOBILE ==============================*/

/*============================== DESKTOP ==============================*/
@media screen and (min-width: 1150px) {
  .strategies-main-title {
    text-align: left;
    margin-bottom: 10px;
  }

  .strategies-main-text {
    text-align: left;
    max-width: 465px;
  }
  .strategies-list {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  .strategies-item {
    width: calc((100% - 60px) / 3);
    border: 1px solid #dedede;
    border-radius: 8px;
  }

  .strategies-img {
    margin-bottom: 0;
  }

  .strategies-item-wrap {
    padding: 24px 27px 40px;
  }
}
/*============================== /DESKTOP ==============================*/
/*========================== /STRATEGIES SECTION STYLES ===========================*/

/*======================= PRICE SECTION STYLES ========================*/
/*============================== MOBILE ==============================*/
.price-main-title {
  font-size: 34px;
  margin-bottom: 8px;
}

.price-main-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 74px;
}

.price-list {
  max-width: 322px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.price-item {
  padding: 24px 0 32px 0;
}

.price-item:nth-child(odd) {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.price-item:nth-child(even) {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #02897a;
  color: #ffffff;
}

.price-list-type-title {
  font-size: 24px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 8px;
}

.price-list-type-text {
  font-size: 16px;
  line-height: 2.5;
  text-align: center;
  margin-bottom: 16px;
}

.price-list-price-title {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-item:nth-child(odd) .price-list-price-title {
  color: #afafaf;
}

.price-item:nth-child(even) .price-list-price-title {
  color: #e0e0e0;
}

.price-item:nth-child(odd) .price-color {
  color: #02897a;
}

.price-item:nth-child(even) .price-color {
  color: #ffffff;
}

.price-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.number-size {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 8px;
}

.price-currency {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
}

.price-sub-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto 38px auto;
}

.price-sub-item {
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.price-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: inherit;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  min-width: 139px;
  height: 44px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.price-item:nth-child(odd) .price-btn {
  background-color: #02897a;
  color: #ffffff;
  transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
    color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
    border 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.price-item:nth-child(odd) .price-btn:hover,
.price-item:nth-child(odd) .price-btn:focus {
  background-color: #f8f5f5;
  border: 1px solid #02897a;
  color: #02897a;
}

.price-item:nth-child(even) .price-btn {
  background-color: #ffffff;
  color: #02897a;
  transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
    color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.price-item:nth-child(even) .price-btn:hover,
.price-item:nth-child(even) .price-btn:focus {
  background-color: #028910;
  color: #ffffff;
}
/*============================== /MOBILE ==============================*/

/*============================== DESKTOP ==============================*/
@media screen and (min-width: 1150px) {
  .price-main-title {
    margin-bottom: 10px;
  }

  .price-main-text {
    margin-bottom: 40px;
  }

  .price-list {
    max-width: 100%;
    flex-direction: row;
    column-gap: 72px;
    flex-wrap: wrap;
  }

  .price-item {
    width: calc((100% - 144px) / 3);
  }
}
/*============================== /DESKTOP ==============================*/
/*======================= /PRICE SECTION STYLES ========================*/

/*========================== REVIEW SECTION ==========================*/
/*============================== MOBILE ==============================*/
.review-title {
  font-size: 34px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}

.review-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 323px;
  margin: 0 auto 32px;
}
.review-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.review-item {
  padding: 28px 26px 24px;
  border: 1px solid #dedede;
  border-radius: 5px;
  max-width: 327px;
}
.review-icon {
  margin-bottom: 16px;
}
.review-list-text {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #32454f;
  margin-bottom: 16px;
}

.review-name-container {
  display: flex;
  max-width: 145px;
}
.review-img {
  margin-right: 14px;
}

.review-name-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.review-name-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}
/*============================== /MOBILE ==============================*/

/*============================== DESKTOP ==============================*/
@media screen and (min-width: 1150px) {
  .review-title {
    margin-bottom: 10px;
  }

  .review-text {
    max-width: 537px;
    margin-bottom: 40px;
  }

  .review-list {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 64px;
  }

  .review-item {
    width: calc((100% - 128px) / 3);
  }
}
/*============================== /DESKTOP ==============================*/
/*========================== /REVIEW SECTION ==========================*/

/*========================== JOIN SECTION ==========================*/
/*============================== MOBILE ==============================*/
.join-container {
  background-color: #02897a;
  border-radius: 32px;
  max-width: 371px;
  padding: 0;
}

.join-title {
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  padding-top: 17px;
  max-width: 328px;
  margin: 0 auto 104px;
}

.join-btn {
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  min-width: 150px;
  height: 50px;
  border: none;
  background-color: #ffffff;
  transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
    color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  margin-bottom: 32px;
}

.join-btn:hover,
.join-btn:focus {
  background-color: #028910;
  color: #ffffff;
}

.join-img {
  margin: 0 auto;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
  border-radius: 32px;
}
/*============================== /MOBILE ==============================*/

/*============================== DESKTOP ==============================*/
@media screen and (min-width: 1150px) {
  .join-container {
    max-width: 968px;
    display: flex;
    column-gap: 10px;
  }

  .join-title-wrap {
    padding-top: 50px;
    padding-left: 50px;
  }

  .join-title {
    padding: 0;
    max-width: 510px;
    text-align: left;
    margin-bottom: 46px;
  }

  .join-btn {
    margin: 0;
  }

  .join-img {
    padding-bottom: 10px;
  }
}
/*============================== /DESKTOP ==============================*/
/*========================== /JOIN SECTION ==========================*/

/*========================== FOOTER ==========================*/
/*============================== MOBILE ==============================*/
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.footer-logo-icon {
  margin-right: 16px;
}

.footer-sm-list {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-bottom: 32px;
}

.footer-sm-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #edfffc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-sm-icons {
  fill: none;
  stroke: #111111;
  transition: stroke 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-sm-link:hover .footer-sm-icons,
.footer-sm-link:focus .footer-sm-icons {
  stroke: #02897a;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  margin-bottom: 32px;
}

.footer-menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.footer-menu-link {
  font-size: 16px;
  line-height: 2.2;
  text-align: center;
  transition: color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #02897a;
}

.footer-label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin-bottom: 34px;
}

.pnone-input-wrap {
  position: relative;
  width: 325px;
  margin: 0 auto 21px;
}

.footer-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #02897a;
  outline: none;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  display: block;
  background-color: transparent;
  padding-left: 42px;
  transition: border 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-input::placeholder {
  line-height: 1.75;
  color: #02897a;
}

.footer-input:focus {
  border: 1px solid #02897a;
}

.phone-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #bcd0e5;
  transition: fill 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-input:focus + .phone-input-icon {
  fill: #02897a;
}

.footer-submit-btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #02897a;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 131px;
  height: 39px;
  background-color: #ffffff;
  display: block;
  margin: 0 auto 44px;
  transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1),
    color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
  background-color: #02897a;
  color: #ffffff;
}

.footer-text {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
}
/*============================== /MOBILE ==============================*/

/*============================== DESKTOP ==============================*/
@media screen and (min-width: 1150px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .footer-logo {
    margin-bottom: 18px;
  }

  .footer-sm-list {
    max-width: 152px;
    justify-content: space-between;
    margin: 0;
  }

  .footer-menu-list {
    flex-direction: row;
    align-items: start;
    column-gap: 129px;
    margin: 0;
  }

  .footer-form {
    max-width: 325px;
  }

  .pnone-input-wrap {
    margin-bottom: 25px;
  }

  .footer-label {
    text-align: start;
    margin-bottom: 30px;
  }

  .footer-submit-btn {
    margin: 0;
  }
}

/*============================== /DESKTOP ==============================*/
/*========================== /FOOTER ==========================*/

/*========================== MOBILE MENU =====================*/
.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  background-color: #ffffff;
  padding: 100px 30px 20px;
  display: flex;
  flex-direction: column;
}

.mobile-close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms linear;
}

.mobile-close-btn:hover,
.mobile-close-btn:focus {
  fill: #028910;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-nav-link {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.75;
  transition: color 250ms linear;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #02897a;
}

.current {
  font-weight: 600;
}

.mobile-sm-list {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.mobile-sm-link {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #02897a;
  fill: none;
  stroke: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear, stroke 250ms linear,
    border 250ms linear;
}

.mobile-sm-link:hover,
.mobile-sm-link:focus {
  stroke: #02897a;
  background-color: #ffffff;
  border: 3px solid #02897a;
}
/*========================== /MOBILE MENU =====================*/
