/*============================== COMMON STYLES ==============================*/
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #22343d;
}

input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,
textarea {
  outline: none;
}

.container {
  /* max-width: 1150px; */
  max-width: 410px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}
/*============================== /COMMON STYLES ==============================*/

/*============================== HEADER STYLES ==============================*/
.menu-list,
.header-login-btns {
  display: none;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.page-header {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.page-logo-icon {
  margin-right: 8px;
}

.page-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: inline-flex;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.mobile-menu-btn {
  padding: 0;
  width: 28px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
}
/*============================== /HEADER STYLES ==============================*/

/*============================== HERO STYLES ==============================*/
.hero-section .container {
  padding-top: 30px;
  padding-bottom: 50px;
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.hero-title {
  max-width: 369px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  margin-bottom: 16px;
}

.hero-text {
  max-width: 326px;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn-list {
  display: flex;
  gap: 28px;
  align-items: baseline;
  max-width: 345px;
  margin-right: auto;
  margin-left: auto;
}

.get-started-btn {
  padding: 17px 25px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #02897a;
}

.watch-video-btn {
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: inherit;
}

.watch-video-icon {
  margin-right: 4px;
}
/*============================== /HERO STYLES ==============================*/

/*============================== PRODUCT STYLES ==============================*/

/*============================== /PRODUCT STYLES ==============================*/
